body {
    font-family: 'Comfortaa', sans-serif;
}

.dark-page {
    background-color: $dark-page;
}

.dark-page-secondary {
    background-color: $dark-page-secondary;
}

.q-page-container {
    padding-top: 56px;
}